<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Простой блог</h1>
    <form method="POST" action="/">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="city">Город:</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <div class="form-group">
            <label for="hobby">Хобби:</label>
            <input type="text" class="form-control" id="hobby" name="hobby" required>
        </div>
        <div class="form-group">
            <label for="age">Возраст:</label>
            <input type="text" class="form-control" id="age" name="age" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить данные</button>
    </form>
    <hr>
    <h2>Анкета</h2>

    {% for post in posts %}
        <div class="post">
            <h4>{{ post.name }}</h4>
            <p>{{ post.city }}</p>
            <p>{{ post.hobby }}</p>
            <p>{{ post.age }}</p>
        </div>
    {% endfor %}
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>